---
import Layout from '../components/Layout.astro';
import BaseHead from '../components/BaseHead.astro';
import { postsAndTags } from '../data/posts';

export async function getStaticPaths() {
  let posts = await Astro.glob(`../notes/*.md`);
  return posts.map(post => ({
    params: { slug: post.frontmatter.slug }, props: { post: post }
  }));
}

export function formatDate(date) {
  return new Date(date.replace(/-/g, '/')).toLocaleDateString('en-US', {
    month: 'long',
    day: 'numeric',
    year: 'numeric',
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { Content, frontmatter: { title, added, updated, tags, excerpt } } = post;
const allPosts = await Astro.glob(`../notes/*.md`);
const { allTags } = postsAndTags(allPosts);

let description = excerpt;
let permalink = `https://rachsmith.com/${slug}/`;

---

<style>
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }


  .meta {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3em;
  }

  .meta p {
    font-size: 1rem;
    margin: 0.1em;
  }

  .meta a {
    text-transform: lowercase;
  }

  .meta-label {
    font-style: normal;
  }

  .comments {
    margin-bottom: 4em;
    margin-top: 4em;
  }
</style>

<html lang="en">

<head>
  <BaseHead {title} {description} {permalink} canonicalUrl={permalink} />
</head>

<Layout page="note" tags={allTags}>
  <article>
    <h1 class="title">{title}</h1>
    <div class="meta">
      <p>
        <em class="meta-label">Added:</em> {formatDate(added)}
      </p>
      {updated !== added && (
      <p>
        <em class="meta-label">Updated:</em> {formatDate(updated)}
      </p>
      )}
      <p>
        <em class="meta-label">Tags:</em>{' '}
        {tags.map((tag) => (
        <a href={`/tag/${tag}/`}>
          {`#${tag}`}
        </a>
        ))}
      </p>
    </div>
    <Content />
  </article>
  <!-- {references.length > 0 && (
  <section className="p-5 border-b">
    <h3 className="mb-3 uppercase tracking-wide">
      Referenced by these notes
    </h3>
    <ul className="list-none">
      {references.map(({ title, slug, excerpt, tags }) => (
      <NoteListItem slug={slug} title={title} excerpt={excerpt} tags={tags} />
      ))}
    </ul>
  </section>
  )} -->
  <section class="comments">
    <h3>Comments</h3>
    <script is:inline>talkyardServerUrl='https://site-1hvw5pe7vn.talkyard.net';</script>
    <script is:inline async defer src="https://cdn.talkyard.net/-/talkyard-comments.min.js"></script>
    <!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
    <div class="talkyard-comments" style="margin-top: 45px;">
      <noscript>Please enable Javascript to view comments.</noscript>
      <p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
        <a href="https://www.talkyard.io">Talkyard</a>.
      </p>
    </div>
  </section>
  <hr />
</Layout>

</html>