---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Layout from '../components/Layout.astro';
import NoteListItem from '../components/NoteListItem.astro';
import Section from '../components/Section.astro';
import { postsAndTags } from '../data/posts';

let title = `All Notes | My name is Olek`;
let description = 'See all of my notes.';
let permalink = 'https://olek.works/all-notes/';

let posts = await Astro.glob(`../notes/*.md`);
const { allPosts, allTags } = await postsAndTags(posts);

let page = 'page';
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <Layout page={page} tags={allTags}>
      <div>
        <h1>All Notes</h1>
        <Section>
          <ul>
            {
              allPosts.map(
                ({
                  url,
                  frontmatter: { excerpt, slug, title, tags, added },
                }) => (
                  <NoteListItem {url} {excerpt} {slug} {title} {tags} {added} />
                )
              )
            }
          </ul>
        </Section>
      </div>
    </Layout>
  </body>
</html>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
</style>
