---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Layout from '../components/Layout.astro';
import HomeNotes from '../components/HomeNotes.astro';
import HomeHeader from '../components/HomeHeader.astro';
import { notesAndTags } from '../data/notes';
import { getCollection } from 'astro:content';

let title = `Home | Rach Smith's digital garden`;
let description = `Hi 👋🏼 I'm Rach. A developer building software for CodePen, wife, mother of two,
  productivity nerd and recovering screen addict. This is my digital garden.`;
let permalink = 'https://rachsmith.com';

const notes = await getCollection('notes');
const { allNotes, allTags } = notesAndTags(notes);

let page = 'home';
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <Layout page={page} tags={allTags} HeaderComponent={HomeHeader}>
      <HomeNotes {allNotes} />
    </Layout>
  </body>
</html>
