---
export interface Props {
  note: any;
}

const { note } = Astro.props;
---

<article class="note-preview">
  <header>
    <p class="publish-date">{note.frontmatter.publishDate}</p>
    <a href={note.url}><h1 class="title">{note.frontmatter.title}</h1></a>
  </header>
  <p>{note.frontmatter.description}</p>
  <a href={note.url}>Read more</a>
</article>

<style>
  .content :global(main > * + *) {
    margin-top: 1rem;
  }

  .note-preview {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--theme-divider);
  }

  header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    text-align: left;
  }

  .title,
  .author,
  .publish-date {
    margin: 0;
  }

  .publish-date,
  .author {
    font-size: 1.25rem;
    color: var(--theme-text-lighter);
  }

  .title {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--theme-text);
  }
</style>
