---
import NoteListItem from './NoteListItem.astro';
import OutlineHeading from './OutlineHeading.astro';
import Section from './Section.astro';

const { allNotes } = Astro.props;

const recentNotes = allNotes.slice(0, 8);
---

<style>
  ul {
    padding: 0;
  }
</style>

<div class="">
  <OutlineHeading>Recent Notes</OutlineHeading>
  <Section>
    <ul class="">
      {
        recentNotes.map((note) => (
          <NoteListItem
            url={note.url}
            slug={note.slug}
            title={note.data.title}
            added={note.data.added}
            tags={note.data.tags}
            excerpt={note.data.excerpt}
          />
        ))
      }
    </ul>
  </Section>
</div>
