---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import NoteListItem from './NoteListItem.astro';
import { makeNoteFromNugget, monthNames } from '../data/notes';

type Year = {
  date: number;
  months: Month[];
};

type Month = {
  date: number;
  name: string;
  notes: Note[];
};

type Note = CollectionEntry<'notes'> & {
  date: number;
};

const notes = await getCollection('notes');
const nuggets = await getCollection('nuggets');

for (const nugget of nuggets) {
  // add nugget to notes

  notes.push(makeNoteFromNugget(nugget));
}
const years: Year[] = [];

notes.forEach((note) => {
  const addedDate = new Date(note.data.added);
  const yearDate = addedDate.getFullYear();
  const monthDate = addedDate.getMonth() + 1;
  const dayDate = addedDate.getDate();

  let year: Year | undefined = years.find((year) => year.date === yearDate);
  if (!year) {
    year = {
      date: yearDate,
      months: [],
    };
    years.push(year);
  }

  let month = year.months.find((month) => month.date === monthDate);
  if (!month) {
    const monthIndex = monthDate - 1;
    const monthName = monthNames[monthIndex];
    month = {
      date: monthDate,
      name: monthName,
      notes: [],
    };
    year.months.push(month);
  }

  month.notes.push({
    ...note,
    date: dayDate,
  });
});

years
  .sort((a, b) => b.date - a.date)
  .forEach((year) => {
    year.months
      .sort((a, b) => b.date - a.date)
      .forEach((month) => {
        month.notes.sort((a, b) => b.date - a.date);
      });
  });
---

<style>
  .list {
    list-style: none;
    padding: 0;
  }

  .list li {
    margin: 0.5em 0;
  }

  .month {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
  }

  .month span {
    padding-right: 1em;
  }
</style>

<div class="">
  <ul class="list">
    {
      years.map((year) => (
        <>
          {year.months.map((month, i) => (
            <>
              <li>
                <h2 class="month">
                  <span>{month.name}</span> <span>{i === 0 && year.date}</span>
                </h2>
              </li>
              {month.notes.map((note) => (
                <NoteListItem
                  slug={note.id}
                  title={note.data.title}
                  added={note.data.added}
                  tags={note.data.tags}
                  type={note.data.type}
                  excerpt={note.data.excerpt}
                />
              ))}
            </>
          ))}
        </>
      ))
    }
  </ul>
</div>
