---
import BaseHead from '../../components/BaseHead.astro';
import Layout from '../../components/Layout.astro';
import NoteListItem from '../../components/NoteListItem.astro';
import Section from '../../components/Section.astro';
import { notesAndTags } from '../../data/notes';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const notes = await getCollection('notes');
  const { allTags } = notesAndTags(notes);
  return Object.keys(allTags).map((tag) => ({
    params: { tag: tag },
    props: { notes: allTags[tag] },
  }));
}

export function formatDate(date) {
  return new Date(date.replace(/-/g, '/')).toLocaleDateString('en-US', {
    month: 'long',
    day: 'numeric',
    year: 'numeric',
  });
}

const { tag } = Astro.params;
const { notes } = Astro.props;
const notes = await getCollection('notes');
const { allTags } = notesAndTags(notes);
const tagHeader = `${notes.length} note${
  notes.length === 1 ? '' : 's'
} tagged with "${tag}"`;
const title = `${tagHeader} | Rach Smith's digital garden`;
const description = tagHeader;
const permalink = `https://rachsmith.com/tag/${tag}`;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <Layout page="page" tags={allTags}>
    <div>
      <h1>{tagHeader}</h1>
      <Section>
        <ul>
          {
            notes.map(
              ({ url, slug, data: { excerpt, title, tags, added } }) => (
                <NoteListItem {url} {excerpt} {slug} {title} {tags} {added} />
              )
            )
          }
        </ul>
      </Section>
    </div>
  </Layout>

  <style>
    ul {
      list-style: none;
      padding: 0;
    }
  </style>
</html>
