---
import BaseHead from '../../components/BaseHead.astro';
import Layout from '../../components/Layout.astro';
import NoteListItem from '../../components/NoteListItem.astro';
import Section from '../../components/Section.astro';
import { postsAndTags } from '../../data/posts';

export async function getStaticPaths() {
  let posts = await Astro.glob(`../../notes/*.md`);
  const { allTags } = postsAndTags(posts);
  return Object.keys(allTags).map((tag) => ({
    params: { tag: tag },
    props: { posts: allTags[tag] },
  }));
}

export function formatDate(date) {
  return new Date(date.replace(/-/g, '/')).toLocaleDateString('en-US', {
    month: 'long',
    day: 'numeric',
    year: 'numeric',
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const allPosts = await Astro.glob(`../../notes/*.md`);
const { allTags } = postsAndTags(allPosts);
const tagHeader = `${posts.length} post${
  posts.length === 1 ? '' : 's'
} tagged with "${tag}"`;
const title = `${tagHeader} | My name is Olek`;
const description = tagHeader;
const permalink = `https://olek.works/tag/${tag}`;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <Layout page="page" tags={allTags}>
    <div>
      <h1>{tagHeader}</h1>
      <Section>
        <ul>
          {
            posts.map(
              ({ url, frontmatter: { excerpt, slug, title, tags, added } }) => (
                <NoteListItem {url} {excerpt} {slug} {title} {tags} {added} />
              )
            )
          }
        </ul>
      </Section>
    </div>
  </Layout>

  <style>
    ul {
      list-style: none;
      padding: 0;
    }
  </style>

</html>
